body {
    background-color: #fffbf7;
}

h1 {
    color: #46484c;
    text-align: center;
}

p {
    color: #8b8b8bcc;
    font-family: verdana;
    font-size: 20px;
}

button {
    color: #fff;
    background-color: #025157;
}
.header {
   margin:40px 20px 0;
  font-size: 0;
}
.header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    height: 100;
    vertical-align: middle;
}
li {
    display: inline;
    margin:0 25px;
    color:#025157;
}
.logo {
    width:15%;
}
.logo > img {
     width:15%;
}
.navbar {
    width:70%;
    height: 45px;
    text-align:left;
    color: #025157;
    font-weight: 500;
    font-family: sans-serif;
}
.actions {
    width:15%;
    text-align: left;
}
main {
     margin-top: 140px;
     text-align: center;
 }
.actions > * {
     font-size: 14px;
     margin-left: 10px;
     margin-right: 10px;
}
actions a {
    color:#67b54b;
}
actions button {
     color:#fff;
     background-color: #67b54b;
     padding-left: 14px;
     padding-right: 14px;
     padding-top: 12px;
     padding-bottom: 12px;
     border: 0;
     border-radius: 5px;
}