body {
    background-color: #fffbf7;
}

h1 {
    color: #025157;
    text-align: center;
    font-family:"Alegreya", serif;
    font-size: 60px;
}

p {
    color: #8b8b8bcc;
    font-family: verdana;
    font-size: 40px;
    /*font-family: 'Bangers', cursive;*/
}
/*ul {
  border: 2px solid rebeccapurple;
  padding: .5em;
}*/

.header > * {
  display: inline-block;
}

.header {
  /*margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;*/
  margin: 40px 20px 20px;
  font-size: 0;
  height: 45px;
  font-family: sans-serif;
}

li {
  display: inline;
  margin-right: 25px;
  margin-left: 25px;
}

.logo{
	width:15%;
}

.logo > img {
  width: 15%;
}

.navbar {
  width: 70%;
  text-align: center;
  color: #025157;
}

.navbar {
  width: 70%;
  text-align: left;
  color: #025157;
  font-weight: 500;
}

.actions {
  width: 15%;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
}

.header > * {
  display: inline-block;
  font-size: 16px;
}

.main {
  margin-top: 320px;
  text-align: center;
}

.actions > * {
  margin-right: 10px;
  margin-left: 10px;
}

.actions a {
  color: #67b54b;
}

.actions button {
  color: white;
  background-color: #67b54b;
  /*padding-left: 14px;
  padding-right: 14px;
  padding-top: 12px;
  padding-bottom: 12px;*/
  padding: 12px 14px;
  border: 0;
  border-radius: 5px;
}

/*.publish {
  /* container styles if any 
}*/

.publish h3 {
  font-family: "Alegreya", serif;
  font-size: 25px;
  line-height: 48px;
  color: #025157;
  margin-bottom: 0;
  padding-bottom: 0;
}

.publish > p {
  font-size: 14px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 0px;
}

.publish > form {
  display: flex;
  flex-direction: row;
  align-items: center;
  top:0;
  margin-top: 0;
  padding-top: 0;
}

.publish > form p {
  color: #025157;
  margin-right: 18px;
}
.p-start{
  font-size: 12px;
  font-weight: bold;
}
.divbtn button{
  background-color:#025157;
  color:white;
}

.videomatcha {
  display: flex;
  flex-direction: row;
  width:70%;
  margin:0 auto;
  align-items: center;
}

.videoflecha{
  display:flex;
  flex-direction: column;
}

.videoflecha img{
  width:10%;
  height:10%;
  align-self:center;
}

.fijado{
   position:fixed;
   top:0;
   left: 0;
   right:0;
   background-color: #fffbf7;
}
.growing{
  background-color: #a1d683;
  height: 850px;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: space-around;
  align-self: center;
}
.artigrowing{
  width:40%;
  margin-top: 90px;
  /*margin-left:15%;*/
}
.artigrowing h1{
    font-family: "Alegreya", sans-serif;
    font-size: 3.5rem;
    line-height: 61px;
    color: #025157;
    text-align: left;
    padding:0;
    margin:0;
    margin-bottom: 1rem;
  
}
.artigrowing p{
  color:black;
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
  padding: 0;
  margin:0;
  margin-bottom: 1rem;
}
.artigrowing button{
  background-color:#025157 ;
  height: 2.5rem;
  color: white;
  border-radius: 8%;
  border: none;
  font-size: 1.25 rem;
}
.imgmarcas{
  width:99%;
  margin: 10px 10px;
}
.casosestudio{
  background-color: white;
  width:20%;
  height: 85%;
  margin-top: 70px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  /*margin-left: 10%;*/
}
.casosestudio >* {
  margin-left: 10px;
}
.casosestudio img{
  margin: 0;
}
.logomambe{
  height: 60px;
  width: 70px ;
  align-self: flex-end;
}
.casosestudio h3{
  font-family:"Open Sans", sans-serif ;
  font-size:1rem;
  color: #343a40;
  margin-bottom: 5px;
}
.howmambe{
  font-size:1.75rem;
  color:black;
  line-height: 1.5;
  font-family:"Open Sans", sans-serif ;
  margin-top: 5px;
}
.iconoaudiencia{
  display:flex;
  flex-direction: row;
  align-content: space-between;
  box-sizing:border-box
}
.iconoaudiencia aside{
   width:30%;
   text-orientation:upright ;
}
.p-audiencia{
  font-size: 1rem;
  margin-top: 0;
  width: 90%;
}
.casosestudio button{
  background-color:#025157 ;
  height: 3rem;
  width: 12rem;
  color: white;
  border-radius: 8%;
  border: none;
  font-size: 1.5 rem;
  align-self: center;
  margin-bottom: 15px;
}
.features{
  display: grid;
  /*grid-template-columns: 1fr 1fr; 
  grid-template-rows: 330px 330px; */
  grid-template:repeat(2,330fr)/repeat(2,330fr);
  height: 660px;
}